.contact {
  @extend %list;
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
  }

  @media screen and (min-width: 768px) {
    @include centeredFlex();
    margin-left: auto;
  }
}

.contact__item + .contact__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
    order: -1;
  }
  @media screen and (min-width: 768px) {
    margin-left: 50px;
  }
}

.contact__link {
  @media screen and (min-width: 768px) {
    @include centeredFlex();
    @include itemTypography(500, 14px, 1.14);
  }

  @include itemTransition(color);

  letter-spacing: 0.02em;
  color: getColor(text-secondory);

  &:hover,
  &:focus {
    color: getColor(accent);
  }
}

.contact__link[href^="tel"] {
  @include itemTypography(500, 34px, 1.18);

  color: getColor(accent);
}

.contact__link[href^="mailto"] {
  @include itemTypography(500, 24px, 1.17);

  color: getColor(text-secondory);
}

.contact__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }

  margin-right: 10px;
  fill: currentColor;
}
