%logo {
  @include itemTypography(700, 26px, 1.19);

  font-family: getFont(logo), getFont(secondory);
  color: getColor(logo-main);
}

.logo__text {
  color: getColor(accent);
}

.logo__main {
  @extend %logo;

  &--revers {
    @extend %logo;
    @include centeredFlex(inline-flex);

    margin-bottom: 20px;
    color: getColor(logo-revers);
  }
}
