.mobile-menu__button,
.mobile-modal__close {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-modal {
  position: relative;
  padding: 48px 40px;
  background-color: getColor(bg-body);

  @media (max-width: 768px) {
    position: absolute;
    top: 0;
    right: 0;

    max-width: 480px;
    max-height: 796px;
    width: 100%;
    height: 100%;
  }
}

.mobile-modal__close {
  position: absolute;
  right: 15px;
  top: 10px;

  cursor: pointer;

  &:hover,
  &:focus {
    fill: getColor(accent);
  }
}

.mobile-social {
  display: flex;
  margin: 0;
  padding: 0;
}

.mobile-social__item {
  @extend %list;

  & + & {
    border-left: 1px solid getColor(modal-border);
    padding-left: 10px;
  }
  &:not(:last-child) {
    padding-right: 10px;
  }
}

.mobile-social__link {
  @include itemTypography(500, 18px, 1.12);
  color: getColor(accent);
}
