.mobile-menu__button {
  position: relative;
  display: flex;
  margin-top: 10px;
  margin-right: 15px;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 10;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu__button .icon-close {
  display: none;
}

.mobile-menu__button.is-open .icon-close {
  display: block;

  cursor: pointer;

  &:hover,
  &:focus {
    fill: getColor(accent);
  }
}

.mobile-menu__button.is-open .icon-menu {
  display: none;
}

.mobile-modal {
  padding: 48px 40px;
  background-color: getColor(bg-body);

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;

    min-width: 480px;

    width: 100vw;
    height: 100vh;

    &.is-open {
      display: block;
    }
  }
}

.mobile-social {
  display: flex;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-social__item {
  @extend %list;

  .mobile-social__item + & {
    border-left: 1px solid getColor(modal-border);
    padding-left: 10px;
  }
  &:not(:last-child) {
    padding-right: 10px;
  }
}

.mobile-social__link {
  @include itemTypography(500, 18px, 1.12);
  color: getColor(accent);
}
