.mobile-menu {
}

.mobile-menu__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.mobile-menu__icon {
}

.mobile-menu__menu {
}

.mobile-menu_close {
  display: none;
}

.mobile-menu__button.is-open .mobile-menu_close {
  display: block;
}

.mobile-menu__button.is-open .mobile-menu__menu {
  display: none;
}

.menu-container {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 400px;

  padding: 15px;
  text-align: center;
  font-size: 20px;
  background-color: palegoldenrod;

  &.is-open {
    display: block;
  }
}
