.page-header {
  border-bottom: 1px solid getColor(bg-team);
}

.page-header__container {
  
  @include centeredFlex();

  @media screen and (max-width: 767px) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
  }
}
