.page-header {
  border-bottom: 1px solid getColor(bg-team);
}

.page-header__container {


  @media screen and (max-width: 767px) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }

@media screen and (min-width: 768px) {
    // @include centeredFlex();
    display: flex;
    align-items: center;
// margin: auto;
    // width: 768px;
    // flex-basis: 768px;
    // padding: 0 15px;
// padding-right: 15px;

  height: 80px;
}



}
