.team {
  background-color: getColor(bg-team);
}

.team__list {
  @include centeredFlex();
  @extend %list;
}

.team__item {
  width: calc((100% - 90px) / 4);
  text-align: center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}

.team__img {
  display: block;
}

.team__about {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: getColor(bg-body);
}

.team__specialist {
  @include itemTypography(500, 16px, 1.19);

  margin-top: 0;
  margin-bottom: 10px;
}

.team__position {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  color: getColor(text-secondory);
}

.team__social {
  margin-right: 32px;
  margin-left: 32px;
}
